# Địa chỉ IP của máy chủ FreeIPA (có thể là IP nội bộ hoặc IP public)
IPA_SERVER_IP=your.ipa.server.ip

# Tên miền phụ dùng để truy cập giao diện Web UI của FreeIPA (subdomain trỏ về IPA_SERVER_IP)
IPA_SERVER=your.sub-domain.com

# Tên miền chính của hệ thống (domain gốc)
IPA_DOMAIN=your.domain.com

# Realm là viết hoa của IPA_DOMAIN, dùng trong xác thực Kerberos (ví dụ: IPA_DOMAIN=rainscales.aiops.com thì IPA_REALM=RAINSCALES.AIOPS.COM)
IPA_REALM=YOUR.DOMAIN.COM
